doctype html
html(lang='en')
  head
    // Meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

    title Joyce &amp; Andrey | April 4, 2020

    // Stylesheets
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/styles.css')
    link(rel='stylesheet', href='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.css')

  body

    // Header
    div#header-container.container
      div.row.py-3
        h4.mx-auto Joyce &amp; Andrey

    // Menu
    div#menu-container.d-none.d-sm-block
      div#menu-link-container
        h4.menu-header-link.menu-open-link(data-toggle='collapse', data-target='#menu-items-container') Menu +
    div#menu-items-outer-container
      div#menu-items-container.p-5.collapse
        h4.menu-header-link.menu-close-link(data-toggle='collapse', data-target='#menu-items-container') Menu -
        div#menu-items
          nav.nav.flex-column
            a.nav-link(href='#us') us.
            a.nav-link(href='#info') info.
            a.nav-link(href='#lisbon') lisbon.
            a.nav-link(href='#misc') misc.
            a.nav-link(href='#rsvp') rsvp.
            a.nav-link(href='#photos') photos.
    
    // Dot Navigation Menu
    div#dot-nav-outer-container.d-none.d-sm-block
      div#dot-nav-container
        div#dot-nav-items
          div.dot-nav-item
            a.dot-nav-link(href='#us', data-toggle='tooltip', data-placement='left', title='us.')
          div.dot-nav-item
            a.dot-nav-link(href='#info', data-toggle='tooltip', data-placement='left', title='info.')
          div.dot-nav-item
            a.dot-nav-link(href='#lisbon', data-toggle='tooltip', data-placement='left', title='lisbon.')
          div.dot-nav-item
            a.dot-nav-link(href='#misc', data-toggle='tooltip', data-placement='left', title='misc.')
          div.dot-nav-item
            a.dot-nav-link(href='#rsvp', data-toggle='tooltip', data-placement='left', title='rsvp.')
          div.dot-nav-item
            a.dot-nav-link(href='#photos', data-toggle='tooltip', data-placement='left', title='photos.')

    // Landing Section
    div#landing-container.section-container
      div#cover-photo-container
        div#landing-content-container
          div#monogram.pb-3
            img(src='/img/AJmonogram.svg')
          div#rsvp-button
            a.button.button-grey(href='#rsvp') RSVP!
      div#landing-background

    // Us Section
    div#us-container.section-container
      div.inner-content
        div#us-heading.section-heading
          h1#us hi.
          div.subheading This is what we look like doing stuff together.
      div#us-photos-container
        img(src='/img/imagegallery.png')

    // Info Section
    div#info-container.section-container
      div.inner-content
        div#info-heading.section-heading
          h2#info info.
          div.subheading Let's party!
        div.row.info-card-container.pt-5
          div#drinks-info.info-card.col-md-5.pb-3
            div.info-card-inner
              div.info-card-content.p-3
                h4.py-2 Friday
                h2.py-3 April 3
                h5.py-4 Come say hello and have a drink with us!
                h3.pt-2 8pm, Location
                h3 Name Lorem Ipsum
                h5.pt-2 Address Lorem Ipsum,
                h5 Lisbon, XXXXX
                h4.flip-button.pt-4 Map / More Info
              div.info-card-back.p-3
                div.info-card-map-text
                  p.text-center More notes if needed Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quam erat, feugiat eu turpis id
                  button Open in Google Maps
                div#drinks-map.info-card-map-container
                div.info-card-back-button
                  button.flip-button Back
          div#ceremony-info.info-card.col-md-7.pb-3
            div.info-card-inner
              div.info-card-content.p-3
                h4.pt-2 Saturday
                h2.py-3 April 4
                h5.py-4 Join us at 3pm at the
                h3.pt-2 Palacio dos Marqueses de Frontiera
                h5.pt-2 Largo Sao Domingos de Benfica 1
                h5 Fronteira Palace, Lisbon 1500-554
                h5.py-3 Ceremony to be followed by drinks, dinner, dancing.
                h4.flip-button.pt-4 Map / More Info
              div.info-card-back.p-3.row
                div.info-card-map-text.col-md-7
                  p.text-center Attire: Relaxed Formal Dresses of all lengths, Suits, or Dinner Jackets. As the garden has gravel, we suggest shoes or a change of shoes that are ok on it. Bringing a comfortable change of shoes is encouraged regardless!
                  p.text-center April nights can be chilly in Lisbon, we recommend bringing an extra layer.
                  p.text-center There will be childcare and entertainment for children throughout the day.
                  button.flip-button Back
                div#ceremony-map.info-card-map-container.col-md-5


    // Section Transition Photo
    div#transition-photo-1.transition-photo-container

    // Scripts
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
    script(src='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.js')
    script(src='/js/scripts.js')
    script(src='/js/maps.js')