doctype html
html(lang='en')
  head
    // Meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no')

    // Favicon
    link(rel='icon', type='image/x-icon', href='https://joyce-andrey.s3.amazonaws.com/favicon.ico')

    title Joyce &amp; Andrey | July 3, 2021

    // Stylesheets
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/styles.css')
    link(rel='stylesheet', href='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.css')

  body(data-spy='scroll', data-target='#dot-nav-items')

    // Header
    div#header-container.container
      div.row.py-3
        h4.mx-auto Joyce &amp; Andrey

    // Menu
    div#menu-container.d-none.d-sm-block
      div#menu-link-container
        h4.menu-header-link.menu-open-link(data-toggle='collapse', data-target='#menu-items-container') Menu +
    div#menu-items-outer-container
      div#menu-items-container.collapse.width
        div#menu-items-inner-container.p-5
          h4.menu-header-link.menu-close-link(data-toggle='collapse', data-target='#menu-items-container') Menu -
          div#menu-items
            nav.nav.flex-column
              a.nav-link(href='#us') us.
              a.nav-link(href='#info') info.
              a.nav-link(href='#lisbon') lisbon.
              a.nav-link(href='#misc') misc.
              a.nav-link(href='#rsvp') rsvp.
              a.nav-link(href='#photos') photos.
    
    // Dot Navigation Menu
    div#dot-nav-outer-container.d-none.d-sm-block
      div#dot-nav-container
        div#dot-nav-items.nav
          div.dot-nav-item.nav-item
            a.dot-nav-link.nav-link(href='#us', data-toggle='tooltip', data-placement='left', title='us.')
          div.dot-nav-item.nav-item
            a.dot-nav-link.nav-link(href='#info', data-toggle='tooltip', data-placement='left', title='info.')
          div.dot-nav-item.nav-item
            a.dot-nav-link.nav-link(href='#lisbon', data-toggle='tooltip', data-placement='left', title='lisbon.')
          div.dot-nav-item.nav-item
            a.dot-nav-link.nav-link(href='#misc', data-toggle='tooltip', data-placement='left', title='misc.')
          div.dot-nav-item.nav-item
            a.dot-nav-link.nav-link(href='#rsvp', data-toggle='tooltip', data-placement='left', title='rsvp.')
          div.dot-nav-item.nav-item
            a.dot-nav-link.nav-link(href='#photos', data-toggle='tooltip', data-placement='left', title='photos.')

    // Landing Section
    div#landing-container.section-container.sticky-top
      div#cover-photo-container
    div#landing-content-outer-container
      div#landing-content-container
        div#monogram.pb-3
          img(src='https://joyce-andrey.s3.amazonaws.com/AJmonogram.svg')
        div#rsvp-button
          a.button.button-grey(href='#rsvp') RSVP!

    // Us Section
    div#us.section-container
      div.inner-content
        div#us-heading.section-heading
          h1 hi.
          div.subheading This is what we look like doing stuff together.
      div#us-photos-container
        img(src='https://joyce-andrey.s3.amazonaws.com/imagegallery.png')

    // Info Section
    div#info.section-container
      div.inner-content
        div#info-heading.section-heading
          h2 info.
          div.subheading Let's party!
        div.row.info-card-container.pt-5
          div#drinks-info.info-card.col-md-5.pb-3
            div.info-card-inner
              div.info-card-front.p-3
                h4.py-2 Friday
                h2.py-3 July 2
                h5.py-4 Come say hello and have a drink with us!
                h3.pt-2 7pm at SUD Lisboa
                h5.pt-2 Avenida Brasília
                h5 Pavilhão Poente
                h5 Lisbon 1300-598
                h4.flip-button.pt-4 Map / More Info
              div.info-card-back
                div.info-card-map-text.text-center.p-3
                  p Join us for sunset drinks and canapés on the rooftop.
                  a.button.button-blue(href='https://goo.gl/maps/FZu3r7zcP1BtAa3i8', target='_blank') Open in Google Maps
                div#drinks-map.info-card-map-container
                div.info-card-back-button.p-3
                  div.flip-button
                    img.back-arrow(src='https://joyce-andrey.s3.amazonaws.com/back_arrow.svg')
                    | Back
          div#ceremony-info.info-card.col-md-7.pb-3
            div.info-card-inner
              div.info-card-front.p-3
                h4.pt-2 Saturday
                h2.py-3 July 3
                h5.py-4 Join us at 4pm at the
                h3.pt-2 Palácio dos Marqueses de Frontiera
                h5.pt-2 Largo Sao Domingos de Benfica 1
                h5 Fronteira Palace, Lisbon 1500-554
                h5.py-3 Ceremony to be followed by drinks, dinner, dancing.
                h4.flip-button.pt-4 Map / More Info
              div.info-card-back.container
                div.row.h-100
                  div.info-card-map-text.col-lg-7
                    div.text-center.p-3
                      p Attire: Cocktail Attire/Relaxed Formal
                      p Dresses of all lengths, Suits/Blazers
                      p The venue features expansive gardens with gravel sections. To enjoy yourself best, we suggest shoes or a change of shoes that prioritize comfort and stability.
                      a.button.button-blue(href='https://g.page/Palaciofronteira', target='_blank') Open in Google Maps
                    div.info-card-back-button.py-3
                      div.flip-button
                        img.back-arrow(src='https://joyce-andrey.s3.amazonaws.com/back_arrow.svg')
                        | Back
                  div#ceremony-map.info-card-map-container.col-lg-5.d-none.d-sm-block

    // Section Transition Photo
    div.transition-photo-container.sticky-top
      div#transition-photo-1

    // Lisbon Section
    div#lisbon.section-container
      div.inner-content
        div#lisbon-heading.section-heading
          h2 lisbon.
          div.subheading.sub-menu
            h4.d-inline
              a.sub-menu-item.active(data-toggle='tab', href='#stay-container') stay
            h4.d-inline
              a.sub-menu-item(data-toggle='tab', href='#go-container') go
            h4.d-inline
              a.sub-menu-item(data-toggle='tab', href='#see-container') see
            h4.d-inline
              a.sub-menu-item(data-toggle='tab', href='#eat-container') eat
        div.tab-content
          div#stay-container.tab-pane.fade.show.active
            div.row
              div.tab-pane-intro.col-12.pt-3
                p We do not recommend staying near the wedding venue—it is not necessary and there is not much to do around there. The venue will only be a 10-20 minute cab ride from anywhere downtown, which will be much more interesting for enjoying Lisbon. We recommend the Príncipe Real, Chiado, and Barrio Alto neighborhoods. Below are a couple hotel recommendations, though Lisbon has many beautiful boutique hotels and guesthouses at a variety of price ranges. We suggest exploring to find whatever best suits your interests.
            div.row.py-3
              div.card.col-md-4
                img.card-img-top(src='https://joyce-andrey.s3.amazonaws.com/guide/Memmo Principe Real Hotel Lisboa.png')
                h4.pt-3 Where to stay
                h3.card-title Memmo Príncipe Real Hotel Lisboa
                h5 Rua D. Pedro V, 56 J,
                h5 1250-094 Lisboa, Portugal
                h5 +351 212 425 880
                h5
                  a(href='http://memmohotels.com/principereal', target='_blank') memmohotels.com/principereal
                p Boutique hotel in a trendy neighborhood with a vibrant social scene.
              div.card.col-md-4
                img.card-img-top(src='https://joyce-andrey.s3.amazonaws.com/guide/Valverde Hotel.png')
                h4.pt-3 Where to stay
                h3.card-title Valverde Hotel
                h5 Av. da Liberdade 164,
                h5 1250-146 Lisboa, Portugal
                h5
                  a(href='http://valverdehotel.com/en/', target='_blank') valverdehotel.com/en/
                p Hotel on Lisbon’s grandest boulevard with great service, nice breakfast in the morning, and an outdoor garden.
              div.card.col-md-4
                img.card-img-top(src='https://joyce-andrey.s3.amazonaws.com/guide/Bairro Alto Hotel.png')
                h4.pt-3 Where to stay
                h3.card-title Bairro Alto Hotel
                h5 Praça Luís de Camões 2
                h5 1200-243 Lisboa, Portugal
                h5
                  a(href='http://bairroaltohotel.com/en/', target='_blank') bairroaltohotel.com/en/
                p Hotel with bright spacious  rooms in the center of Bairro Alto, a neighborhood full of pretty walking streets.
            div.row.py-3
              div.card.col-md-4
                img.card-img-top(src='https://joyce-andrey.s3.amazonaws.com/guide/Torel Palace.png')
                h4.pt-3 Where to stay
                h3.card-title Torel Palace
                h5 R. Câmara Pestana 23,
                h5 1150-078 Lisboa, Portugal
                h5 +351 21 829 0810
                h5
                  a(href='http://torelboutiques.com/torel-palace-lisboa/', target='_blank') torelboutiques.com/torel-palace-lisboa/
                p Upscale hotel set on a hillside in downtown Lisbon.
              div.card.col-md-4
                img.card-img-top(src='https://joyce-andrey.s3.amazonaws.com/guide/1908 Lisboa Hotel.png')
                h4.pt-3 Where to stay
                h3.card-title 1908 Lisboa Hotel
                h5 Largo do Intendente Pina
                h5 Manique No 6, 1100-285
                h5 Lisboa, Portugal
                h5 +351 21 880 4000
                h5
                  a(href='http://1908lisboahotel.com', target='_blank') 1908lisboahotel.com
                p Boutique hotel in a historic building with an evolving art gallery.
          div#go-container.tab-pane.fade
            div.row
              div.tab-pane-intro.col-12.pt-3
                p Getting to, from, and around Lisbon is relatively simple with a major airport, an extensive public transit system, as well as taxis.
            div.row.py-3
              div.card.col-md-4
                img.card-img-top(src='https://joyce-andrey.s3.amazonaws.com/guide/Public Transit.png')
                h4.pt-3 Getting around
                h3.card-title Public Transit
                h5
                  a(href='https://www.lisbon.net/transport', target='_blank') lisbon.net/transport
                p The Lisbon transport network includes metro, bus, tram, train, ferries, and funiculars.
              div.card.col-md-4
                img.card-img-top(src='https://joyce-andrey.s3.amazonaws.com/guide/Taxis Uber etc.png')
                h4.pt-3 Getting around
                h3.card-title Taxis, Uber, etc
                p Uber is available throughout the city in Lisbon and Porto with standardized and relatively low fares. We would not advise using the regular taxi hailing system, unless you are with someone local.
              div.card.col-md-4
                img.card-img-top(src='https://joyce-andrey.s3.amazonaws.com/guide/Lisbon Portela Airport.png')
                h4.pt-3 Getting around
                h3.card-title Lisbon Portela Airport (LIS)
                p Lisbon’s major international airport, 7 km (4.3 mi) northeast from the city centre. There are many direct flights from Lisbon to most major cities in Europe, US East and West coasts. It is the main hub of carrier TAP Air Portugal, as well as a hub for low-cost airlines Ryanair and easyJet. We recommend taking an Uber from the airport to where you are staying when you arrive—it is quick and easy!
          div#see-container.tab-pane.fade
            div.row
              div.tab-pane-intro.col-12.pt-3
                p Lisbon has much to offer and this list is just a few ideas to get you started if you have time to explore.
            div.row.py-3
              div.card.col-md-4
                img.card-img-top(src='https://joyce-andrey.s3.amazonaws.com/guide/Castelo de Sao Jorge.png')
                h4.pt-3 What to see
                h3.card-title Castelo de São Jorge
                h5 R. de Santa Cruz do Castelo,
                h5 1100-129 Lisboa, Portugal
                p Moorish castle occupying a commanding hilltop overlooking the historic centre of the Portuguese city of Lisbon and Tagus River. One of the main tourist sites in Lisbon.
              div.card.col-md-4
                img.card-img-top(src='https://joyce-andrey.s3.amazonaws.com/guide/Carmo Convent.png')
                h4.pt-3 What to see
                h3.card-title Carmo Convent
                h5 Largo do Carmo,
                h5 1200-092 Lisboa, Portugal
                p Medieval convent that was ruined during the 1755 Lisbon earthquake. The destroyed Gothic Church of Our Lady of Mount Carmel on the southern facade of the convent is the main trace of the great earthquake still visible in the old city.
              div.card.col-md-4
                img.card-img-top(src='https://joyce-andrey.s3.amazonaws.com/guide/Jeronimos Monastery.png')
                h4.pt-3 What to see
                h3.card-title Jerónimos Monastery
                h5 Praça do Império,
                h5 1400-206 Lisboa, Portugal
                p The monastery is one of the most prominent examples of the Portuguese Late Gothic Manueline style of architecture in Lisbon. It is classified a UNESCO World Heritage Site. The Monastery is in same neighborhood as the drinks location on Friday evening, so this could be a nice option on Friday afternoon.
            div.row.py-3
              div.card.col-md-4
                img.card-img-top(src='https://joyce-andrey.s3.amazonaws.com/guide/Miradouro de Sao Pedro de Alcantara.png')
                h4.pt-3 What to see
                h3.card-title Miradouro de São Pedro de Alcântara
                h5 R. de São Pedro de Alcântara,
                h5 1200-470 Lisboa, Portugal
                p Landscaped terrace offering great panoramic views of the city.
              div.card.col-md-4
                img.card-img-top(src='https://joyce-andrey.s3.amazonaws.com/guide/Belem Tower.png')
                h4.pt-3 What to see
                h3.card-title Belém Tower
                h5 Av. Brasília,
                h5 1400-038 Lisboa, Portugal
                p Iconic fortified tower, commissioned by King John II to be part of a defence system at the mouth of the Tagus river and a ceremonial gateway to Lisbon. It is a UNESCO World Heritage Site. The tower is in same neighborhood as the drinks location on Friday evening, so this could be a nice option on Friday afternoon.
              div.card.col-md-4
                img.card-img-top(src='https://joyce-andrey.s3.amazonaws.com/guide/Oceanario de Lisboa.png')
                h4.pt-3 What to see
                h3.card-title Oceanário de Lisboa
                h5 Esplanada Dom Carlos I s/nº,
                h5 1990-005 Lisboa, Portugal
                p The Lisbon Oceanarium islocated in the Parque das Nações, which was the exhibition grounds for the Expo '98. It is the largest indoor aquarium in Europe.
          div#eat-container.tab-pane.fade
            div.row
              div.tab-pane-intro.col-12.pt-3
                p Lisbon has lots of cool and amazing restaurants that we simply cannot properly cover on our site (so we didn’t really try!). We recommend using Yelp, or a favorite travel/restaurant guide to find recommendations tailored to you.
            div.row.py-3
              div.card.col-md-4
                img.card-img-top(src='https://joyce-andrey.s3.amazonaws.com/guide/Pesca.png')
                h4.pt-3 Where to eat
                h3.card-title Pesca
                h5 Rua da Escola Politécnica, 27 
                h5 1250-099 Lisboa, Portugal
                h5
                  a(href='https://restaurantepesca.pt', target='_blank') restaurantepesca.pt
                p Diogo Noronha’s fresh fish focused restaurant in Príncipe Real. The name of the restaurant means fishing, and fish comprises 90% of the menu. We had a wonderful dinner here and found the menu and staff very thoughtful.
              div.card.col-md-4
                img.card-img-top(src='https://joyce-andrey.s3.amazonaws.com/guide/Pasteis de Belem.png')
                h4.pt-3 Where to eat
                h3.card-title Pasteis de Belém
                h5 Rua Belém 84-92, 
                h5 1300-085 Lisboa, Portugal
                h5
                  a(href='https://pasteisdebelem.pt', target='_blank') pasteisdebelem.pt
                p Portugal's most famous pastry house (established in 1837), making "Pasteis de Nata" (custard tarts) following an ancient recipe from the Mosteiro dos Jerónimos - which is just around the corner.
              div.card.col-md-4
                img.card-img-top(src='https://joyce-andrey.s3.amazonaws.com/guide/Taberna Moderna.png')
                h4.pt-3 Where to eat
                h3.card-title Taberna Moderna
                h5 Rua dos Bacalhoeiros 18A, 
                h5 1100-070 Lisboa, Portugal
                h5
                  a(href='https://tabernamoderna.com', target='_blank') tabernamoderna.com
                p Contemporary restaurant serving Portuguese dishes with a modern twist, plus bar with over 70 gins.
            div.row.py-3
              div.card.col-md-4
                img.card-img-top(src='https://joyce-andrey.s3.amazonaws.com/guide/Mercado da Ribeira.png')
                h4.pt-3 Where to eat
                h3.card-title Mercado da Ribeira (Time Out Market)
                h5 Av. 24 de Julho,
                h5 1200-481 Lisboa, Portugal
                h5
                  a(href='https://timeoutmarket.com/lisboa/en/', target='_blank') timeoutmarket.com/lisboa/en/
                p Open, bi-level space with a large food market and local shops.

    // Section Transition Photo
    div.transition-photo-container.sticky-top
      div#transition-photo-2

    // Misc Section
    div#misc.section-container
      div.inner-content.text-center
        div#misc-heading.section-heading
          h2 misc.
        div.pt-3
          p We are honored to have you in our lives, and if you can make it to join our celebration, that already means the world to us!
          p If you feel inclined to send a gift, we are registered here:
          a.button.button-blue(href='https://www.zola.com/registry/joyceandandrey', target='_blank') Wedding Registry

    // RSVP Section
    div#rsvp.section-container
      div.inner-content
        div#rsvp-heading.section-heading
          h2 rsvp.
          div.subheading Please RSVP by June 27. Hope to see you!
        div#rsvp-form-container.pt-3
          form#rsvp-form.pt-5
            div.form-group.form-row
              label.pr-3(for='name') Your name
              input#name.form-control(type='text', name='name', required)
            div#wedding-response.form-group.form-row.mt-2
              label.pr-3(for='wedding') Will you be attending?
              div.form-check.form-check-inline
                input#wedding-yes.wedding-radio.form-check-input(type='radio', name='wedding', value='yes', required)
                label.form-check-label(for='wedding-yes') Yes
              div.form-check.form-check-inline
                input#wedding-no.wedding-radio.form-check-input(type='radio', name='wedding', value='no', required)
                label.form-check-label(for='wedding-no') No
            div#rsvp-attending.d-none
              div.form-row
                div.col-sm-3.form-group
                  label.pr-3(for='numGuests') Number of Guests
                  select#num-guests.form-control(name='numGuests')
                    option(value='1') 1
                    option(value='2') 2
                    option(value='3') 3
                    option(value='4') 4
                div#guest-names-container.col-sm-9.form-group.d-none
                  label.pr-3(for='guestNames') Names of your guests
                  input#guest-names.form-control(type='text', name='guestNames')
              div.form-group.form-row.mt-2
                label.pr-3(for='drinks') Will you attend drinks the evening before?
                div.form-check.form-check-inline
                  input#drinks-yes.drinks-radio.form-check-input(type='radio', name='drinks', value='yes')
                  label.form-check-label(for='drinks-yes') Yes
                div.form-check.form-check-inline
                  input#drinks-no.drinks-radio.form-check-input(type='radio', name='drinks', value='no')
                  label.form-check-label(for='drinks-no') No
              div.form-group.form-row
                label.pr-3(for='songs') Favorite songs to dance to?
                input#songs.form-control(type='text')
            div.form-group.form-row
              label.pr-3(for='notes') Notes (dietary restrictions, travel details, or any other notes for Joyce &amp; Andrey)
              textarea#notes.form-control(type='text', rows='5')
            div.form-row
              button.mx-auto.button.button-white(type='submit') Send RSVP
        div#rsvp-form-success.pt-5.d-none
          p Thank you for your RSVP!

        

    // Photos Section
    div#photos.section-container
      div.inner-content
        div#photos-heading.section-heading
          h2 photos.
          div.subheading Add/see photos from the weekend!
        div#photos-content-container.text-center.mt-3
          p This will be set up prior to the event<br>Until then, get excited!
        div.text-center.pt-5
          a.button.button-blue(href='#top') Back to top

    // Footer
    div#footer.text-center.pb-3
      div.footer-text.d-inline Design: Joyce (duh)
      div.footer-text.d-inline |
      div.footer-text.d-inline Development: 
        a(href='http://melodyreebs.com', target='_blank') Melody Reebs
      div.footer-text.d-inline |
      div.footer-text.d-inline Photography: 
        a(href='mailto:mrsong85@hotmail.com', target='_blank') Mr. Song

    // Page Loading Modal
    div#loading-modal
      div#loading-spinner.spinner-border(role='status')
        span.sr-only Loading...

    // Scripts
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js')
    script(src='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.js')
    script(src='/js/scripts.js')
    script(src='/js/maps.js')
