@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

body {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
}

h4 {
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.button {
  font-weight: 600;
  display: inline-block;
  letter-spacing: 0.1em;
  padding: .7rem 1rem;
  text-align: center;
  text-transform: uppercase;
  transition: 0.3s;
  vertical-align: middle;
}

.button a:hover {
  text-decoration: none;
}

.button:hover {
  text-decoration: none;
}

.button-white {
  background: transparent;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
}

.button-white:hover {
  background-color: #8FB4E0;
  border: 2px solid #8FB4E0;
  color: #28384C;
}

#header-container {
  height: 60px;
}

#form-container {
  align-items: center;
  background: #28384C;
  color: #FFFFFF;
  display: flex;
  height: calc(100% - 60px);
  justify-content: center;
}

#login-form .form-row {
  align-items: flex-end;
}

#login-form label {
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

#login-form input,
#login-form button {
  height: 50px;
}