@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

body {
  font-family: "Montserrat";
  position: relative;
}

/* Headers */
h1 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 5rem;
  margin-bottom: 0;
}

h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3rem;
  margin-bottom: 0;
}

h3 {
  font-weight: 600;
  font-size: 1.5rem;
}

h4 {
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

h5 {
  font-size: 1rem;
  font-weight: 600;
}

/* General Styles */
a {
  color: #2267B9;
}

.button {
  font-weight: 600;
  display: inline-block;
  letter-spacing: 0.1em;
  padding: .7rem 1rem;
  text-align: center;
  text-transform: uppercase;
  transition: 0.3s;
  vertical-align: middle;
}

.button a:hover {
  text-decoration: none;
}

.button:hover {
  text-decoration: none;
}

.button-grey {
  background: #d8d8d8;
  color: #28384C;
}

.button-grey:hover {
  background: #28384C;
  color: #d8d8d8;
}

.button-blue {
  background: transparent;
  border: 2px solid #28384C;
  color: #28384C;
}

.button-blue:hover {
  background-color: #28384C;
  border: 2px solid #28384C;
  color: #FFFFFF;
}

.button-white {
  background: transparent;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
}

.button-white:hover {
  background-color: #8FB4E0;
  border: 2px solid #8FB4E0;
  color: #28384C;
}

.section-container {
  margin-left: 50px;
}

.section-heading {
  align-items: flex-end;
  display: flex;
}

.section-heading .subheading {
  padding-left: 15px;
}

.inner-content {
  padding: 50px;
}

.form-control {
  border-radius: 0;
}

/* Menu */
#menu-container {
  height: 0;
  position: sticky;
  top: 0px;
  width: 50px;
  z-index: 999;
}

#menu-link-container {
  height: 100vh;
  position: relative;
  white-space: nowrap;
  width: 50px;
}

#menu-items-outer-container {
  height: 0;
  position: sticky;
  top: calc(50% - 240px);
  width: 300px;
  z-index: 999;
}

#menu-items-container {
  background-color: #28384C;
  height: 480px;
  position: relative;
  width: 300px;
}

.menu-header-link {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: rotate(-90deg);
  right: -10px;
}

.menu-header-link:hover {
  color: #8FB4E0;
}

.menu-close-link {
  color: #FFFFFF;
}

.menu-open-link {
  margin-bottom: 0;
}

#menu-items a.nav-link {
  color: #FFFFFF;
  font-size: 2rem;
  font-weight: 700;
}

#menu-items a.nav-link:hover {
  color: #8FB4E0;
}

#menu-container .collapsing.width {
  width: 0;
  height: auto;
  .transition(width 0.35s ease);
}

/* Dot Navigation Menu */
#dot-nav-outer-container {
  float: right;
  height: 0;
  position: sticky;
  top: 0;
  width: 50px;
  z-index: 999;
}

#dot-nav-container {
  position: relative;
  height: 100vh;
}

#dot-nav-items {
  cursor: pointer;
  display: block;
  position: absolute;
  right: 20px;
  top: calc(50% - 72px);
}

.dot-nav-link {
  background: #F5F5F5;
  border-radius: 5px;
  display: inline-block;
  height: 10px;
  margin-right: 5px;
  padding: 0;
  width: 10px;
}

.dot-nav-link:hover {
  background: #8FB4E0;
}

.dot-nav-link.active {
  background: #8FB4E0;
}

/* Landing Section */
#header-container {
  height: 60px;
}

#landing-container {
  z-index: -9999;
}

#cover-photo-container {
  background-image: url('https://joyce-andrey.s3.amazonaws.com/photolanding.png');
  background-position: 50% 35%;
  background-size: cover;
  min-height: 600px;
  height: 100vh;
}

#landing-content-outer-container {
  margin-left: 50px;
  position: relative;
}

#landing-content-container {
  bottom: 80px;
  padding-left: 30px;
  position: absolute;
}

#rsvp-button a {
  width: 135px;
}

/* Us Section */
#us {
  background: #F1CFC4;
}

#us-heading h1 {
  color: #FFFFFF;
}

#us-heading .subheading {
}

#us-photos-container {
  overflow-x: scroll;
  overflow-y: hidden;
  padding-bottom: 50px;
}

/* Info Section */
#info {
  background-image: url('https://joyce-andrey.s3.amazonaws.com/starmapbg.png');
  background-size: cover;
}

#info-heading h2 {
  color: #FFFFFF;
}

#info-heading .subheading {
  color: #FFFFFF;
}

.info-card {
  background-color: transparent;
  perspective: 1000px;
}

.info-card-inner {
  height: 500px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  width: 100%;
}

.info-card-content {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  background: #28384C;
  border: 1px solid #8Fb4E0;
  color: #FFFFFF;
  height: 500px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.info-card.flipped .info-card-inner {
  transform: rotateY(180deg);
}

.info-card-content h4 {
  text-transform: uppercase;
}

.info-card-content h2 {
  color: #8FB4E0;
}

.info-card-back {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  background: #FFFFFF;
  height: 500px;
  position: absolute;
  transform: rotateY(180deg);
}

.flip-button {
  cursor: pointer;
}

.flip-button:hover,
.info-card-back-button .flip-button:hover {
  color: #8FB4E0;
}

.flip-button .back-arrow {
  height: 13px;
  margin-bottom: 3px;
  padding-right: 8px;
}

#drinks-map {
  height: 300px;
}

.info-card-back .button {
  letter-spacing: 0;
  text-transform: none;
}

.info-card-back-button {
  bottom: 0;
  position: absolute;
}

.info-card-back-button .flip-button {
  color: #28384C;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.transition-photo-container {
  margin-left: 50px;
  z-index: -9998;
}

#transition-photo-1 {
  background-image: url('https://joyce-andrey.s3.amazonaws.com/photoinfo.png');
  background-size: cover;
  background-position: 15% 80%;
  height: 100vh;
  min-height: 600px;
  width: 100%;
}

/* Lisbon Section */
#lisbon {
  background: #FFFFFF;
}

.sub-menu .sub-menu-item {
  margin-right: 20px;
}

.sub-menu a.sub-menu-item {
  color: #000000;
}

.sub-menu a.sub-menu-item.active,
.sub-menu a.sub-menu-item:hover {
  border-bottom: 1.5px solid #8FB4E0;
  text-decoration: none;
}

#lisbon .card {
  border: none;
}

#transition-photo-2 {
  background-image: url('https://joyce-andrey.s3.amazonaws.com/photomisc.png');
  background-size: cover;
  background-position: 80% 30%;
  height: 100vh;
  min-height: 600px;
  width: 100%;
}

/* Misc Section */
#misc {
  background: #F1CFC4;
}

#misc-heading.section-heading {
  display: block;
}

#misc-heading.section-heading h2 {
  color: #FFFFFF;
}

/* RSVP Section */
#rsvp {
  background: #28384C;
  color: #FFFFFF;
}

#rsvp-form label {
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

#rsvp-form .form-row {
  align-items: baseline;
}

.form-check-inline {
  margin-bottom: 0.5rem;
}

#rsvp-form-success {
  font-size: 1.5rem;
  height: 600px;
}

/* Photos Section */
#photos {
  background: #FFFFFF;
}

#photos-content-container {
  align-items: center;
  background: #D8D8D8;
  display: flex;
  height: 500px;
  justify-content: center;
}

/* Mobile Styles */
@media screen and (max-width: 576px) {
  .section-container {
    margin: 0;
  }

  .inner-content {
    padding: 50px 20px;
  }

  #landing-content-outer-container {
    margin-left: 0;
  }

  .transition-photo-container {
    margin-left: 0;
  }

  #lisbon .section-heading,
  #photos .section-heading {
    display: block;
  }

  #lisbon .section-heading .subheading,
  #photos .section-heading .subheading {
    padding-left: 0;
    padding-top: 10px;
  }
}